asgiref==3.4.1
asyncio==3.4.3
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
Flask==2.0.2
Flask-Cors==3.0.10
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
OpenGeode-core==10.3.6
OpenGeode-Geosciences==5.4.5
OpenGeode-GeosciencesIO==3.8.1
OpenGeode-Inspector==2.1.0
OpenGeode-IO==5.18.3
pycparser==2.21
python-dotenv==0.19.2
six==1.16.0
Werkzeug==2.0.2
