name: Update dependencies

on:
  schedule:
    - cron: 0 3 * * * 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.TOKEN }}
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: "Skip if no new version"
      uses: Geode-solutions/actions/need-update@master
      id: update
      with:
        token: ${{ secrets.TOKEN }}
    - name: Stop
      if: steps.update.outputs.update == 'false' 
      run: exit 0
    - name: Update
      run: |
        pip install pip-tools
        pip-compile --upgrade requirements.in
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Apply update changes
        branch: version-update
        create_branch: true
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: version-update
        destination_branch: master
        github_token: ${{ secrets.TOKEN }}

